// colours
$brand-primary: #232D39;
$brand-background: #F6F7FB;

// font
$body-font-size: 1em; 
$h3: 1.2em;
$h2: 2em;
$h1: 3em;

*, body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: $brand-background;
}

header {
    // height: 200px;
    display: flex;
    // flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 1em 2em;
    align-content: center;
    background: #fff;

    .logo {
        text-transform: uppercase;
        font-style: oblique;
    }

    .update-btn {
        justify-self: flex-end;
    }
}

.button {
    // width: auto;
    background: $brand-primary;
    color: white;
    padding: 5px 20px;
    border: none;
    height: 40px;
    border-radius: 25px;
}


.main {
    display: grid;
    grid-template-columns: 20% 50%;
    margin: 4em auto;

    .filters {
        padding: 2em;
        font-size: $body-font-size;
        background: #fff;
        margin: 0 2em;


        h3 {
            font-size: $h3;
            text-transform: uppercase;
            margin: 10px 0;
            
        }

        ul {
            list-style: none;

            li {
                input {
                    margin-right: 10px;
                }
            }
        }
    }

    .container {
        // padding: 2em;
        margin: 0 2em;

        .marquee {
            height: 10em;
            margin-top: 0 !important; 
        }

        .news-list-item {
            background: #fff;
            margin: 2em 0;
            padding: 1.5em;
            display: grid;
            grid-template-columns: 30%;
            grid-template-rows: auto;
            grid-template-areas: 
                "news-image title"
                "news-image excerpt"
                "news-image read-more";

            .news-image {
                grid-area: news-image;
            }
            .news-title {
                grid-area: title;
            }
            .news-excerpt {
                grid-area: excerpt;
            }
            .read-more {
                grid-area: read-more;
            }
        }
    }

    
}



.news-image {
    width: 140px;
    height: 100px;
    background-image: url('../img/julie-home-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

